<ActionBar class="action-bar">
    <!-- 
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Carrito"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf07a;"></Label>
    <StackLayout>
        <Image src="res://cart" stretch="aspectFill" class="fas t-36"></Image>
        <Button text="Compras" class="buttontest" (tap)="onNavItemTap('/carrito/compras')"></Button>
        <Image src="res://piggybank" stretch="aspectFill" class="fas t-36"></Image>
        <Button text="Deseos" class="buttontest" (tap)="onNavItemTap('/carrito/deseos')"></Button>
    </StackLayout>
    <Label class="page-placeholder" text="<!-- Carrito -->"></Label>
</GridLayout>